mixin sServices(data)
	// start sServices
	+b.SECTION.sServices.section#sServices&attributes(attributes)
		.floating-imgs#sServicesScene
			img(src='img/svg/sServices-bg-1.svg' alt='' loading='lazy' data-depth="0.3")
			img(src='img/svg/sServices-bg-2.svg' alt='' loading='lazy' data-depth="0.07")
			img(src='img/svg/sServices-bg-3.svg' alt='' loading='lazy' data-depth="0.5")
			img(src='img/svg/sServices-bg-4.svg' alt='' loading='lazy' data-depth="0.8")
		.container
			+b.section-title(data-aos="fade-up" data-aos-once="true")
				h2 Профессиональные технические услуги
			+e.wrapper(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true")
				+e.row.row
					.col-md-6.col-xl-auto
						+e.item
							h6 Профессиональное техническое обслуживание
							p Профессиональная команда технических специалистов реагирует на запросы лечебного учреждения в режиме реального времени и предлагает решения в течение 24 часов, обеспечивая комфортное использование.
					.col-md-6.col-xl-auto
						+e.item
							h6 Бесплатное обучение
							p Обучение персонала расширяет навыки медиков и позволяет им своевременно корректировать настройки оборудования.

	// end sServices