mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			.floating-imgs
				+img('img/svg/sForm-bg-1.svg')
			+b.section-title
				h2 Остались вопросы?
			+form-wrap
				+e.row.row
					.col-lg-8
						.row
							.col-sm
								+input('Ваше имя', 'text')
									+e.input-border
							.col-sm
								+input('Ваш номер телефона', 'tel')
									+e.input-border
					.col-md-6.col-lg-4.order-md-last
						+in-c("checkbox", 'Я согласен-(а) на обработку персональных данных')(required)
					.col-md-6.col-lg-4
						+btn('Перезвоните мне', 'submit').btn.btn-outline-primary
	// end sForm