mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			.floating-imgs#sFormScene
				img(src='img/svg/sForm-bg-1.svg' alt='' loading='lazy' data-depth="0.8")
			+b.section-title(data-aos="fade-up" data-aos-once="true")
				h2 Остались вопросы?
			+form-wrap(data-aos="fade-up" data-aos-duration="1000" data-aos-once="true")
				+e.row.row
					.col-lg-8
						.row
							.col-sm
								+input('Ваше имя', 'text')
									+e.input-border
							.col-sm
								+input('Ваш номер телефона', 'tel')
									+e.input-border
					.col-md-6.col-lg-4.order-md-last
						+in-c("checkbox", 'Я согласен-(а) на обработку персональных данных')(required)
					.col-md-6.col-lg-4
						+btn('Перезвоните мне', 'submit').btn.btn-outline-primary
	// end sForm