mixin sNews(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes).bg-wrap
		.floating-imgs#sNewsScene
			img(src='img/svg/sNews-bg-1.svg' alt='' loading='lazy' data-depth="0.8")
			img(src='img/svg/sNews-bg-2.svg' alt='' loading='lazy' data-depth="0.4")
		.container
			+b.section-title
				h2 Новости
			+e.wrapper
				+e.item
					+e.row.row
						+e.col.col-md-7.col-lg-auto.order-md-last
							+e.img-wrapper 
								+e.img-wrap(data-fancybox='sNews-gallery' data-caption='Приглашаем вас на&nbsp;выставку &laquo;Здравоохранение 2022&raquo;' data-src=`img/sNews-1.jpg`)
									+img(`img/sNews-1.jpg`, 'bg')
						.col-md-5.col-lg
							h6 Приглашаем вас на&nbsp;выставку &laquo;Здравоохранение 2022&raquo;
							p 5-9 декабря аппараты компании &laquo;SWS Medical&raquo; будут представлены от&nbsp;лица компании &laquo;МЕДИКЭЛ&nbsp;М&raquo; на&nbsp;Международном научно-практическом форуме &laquo;Российская неделя здравоохранения&raquo; в&nbsp;ЦВК &laquo;Экспоцентр&raquo;.
							p Предлагаем посетить наш стенд в&nbsp;павильоне&nbsp;2, зал 1, Стенд &#8470;&nbsp;21А40, по&nbsp;адресу: Москва, Краснопресненская наб., 14.
							a(href="https://www.zdravo-expo.ru/") https://www.zdravo-expo.ru/

					//- +e.item
					//- 	+e.row.row
					//- 		+e.col.col-md-7.col-lg-auto
					//- 			+e.img-wrapper 
					//- 				+e.img-wrap(data-fancybox='sNews' data-caption='Lorem ipsum dolor sit amet consectetur adipisicing elit.' data-src=`img/sNews-lg-1.jpg`)
					//- 					+img(`img/sNews-1.jpg`, 'bg')
					//- 		.col-md-5.col-lg
					//- 			h6 Lorem ipsum dolor sit amet consectetur.
					//- 			p Lorem ipsum dolor sit amet consectetur adipisicing elit.

	// end sNews