// start .sNews
.sNews {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		--bs-gutter-y: #{rem(10)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(30)};
		}
		@include media-breakpoint-up(xxl) {
			--bs-gutter-x: #{rem(36)};
		}
	}
	.floating-imgs {
		img {
			&:first-child {
				height: 83px;
				left: 24% !important;
				top: 53% !important;
				width: 260px;
				display: none !important;
				@include media-breakpoint-up(xxl) {
					display: block !important;
				}
			}
			&:nth-child(2) {
				height: 104px;
				left: 37% !important;
				top: 60% !important;
				width: 254px;
				display: none !important;
				@include media-breakpoint-up(xxl) {
					display: block !important;
				}
			}
		}
	}
	.section-title {
	}
	&__col {
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: var(--sTPB);
		}
	}

	h6 {
		font-weight: 700;
		color: inherit;
		margin-bottom: rem(5);

		@include media-breakpoint-up(md) {
			margin-top: 23%;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 33%;
		}
	}
	p {
		font-weight: 300;
		@include media-breakpoint-only(md) {
			font-size: rem(15);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__wrapper {
		max-width: rem(935);
		margin-left: auto;
		@include media-breakpoint-up(xxl) {
			margin-right: rem(35);
		}
	}
	&__img-wrapper {
		--img-padding: #{rem(4)};
		position: relative;
		padding: calc(var(--img-padding) * 2);
		border: 1px solid #99ccff;
		border-radius: $border-radius;
		@include media-breakpoint-up(sm) {
			--img-padding: #{rem(6)};
		}
		@include media-breakpoint-up(lg) {
			--img-padding: #{rem(9)};
			min-width: 590px;
		}
		&::before {
			content: "";
			position: absolute;
			width: calc(100% - var(--img-padding) * 2);
			height: calc(100% - var(--img-padding) * 2);
			left: var(--img-padding);
			top: var(--img-padding);
			border: 1px solid #99ccff;
			border-radius: $border-radius;
		}
	}
	&__img-wrap {
		background-color: #99ccff;
		@include block(550, 400);
		border-radius: $border-radius;
		border: 2px solid transparent;
		overflow: hidden;
		cursor: pointer;
		&::after {
			@include mt;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(0deg, rgba(212, 234, 255, 0.73), rgba(212, 234, 255, 0.73));
		}
		img {
			@include mt;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			filter: grayscale(1);
		}
		&:hover {
			&::after {
				opacity: 0;
			}
			img {
				filter: grayscale(0);
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sNews
