mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes).bg-wrap
		.floating-imgs#headerBlockScene
			img(src='img/svg/headerBlock-bg-1.svg' alt='' loading='lazy' data-depth="0.4")
			img(src='img/svg/headerBlock-bg-2.svg' alt='' loading='lazy' data-depth="0.03")
		video.picture-bg(loop, autoplay, muted)
			source(src="video/header-video.webm", type="video/webm")
			source(src="video/header-video.mp4", type="video/mp4")
		.container
			+e.row.row
				+e.col.col-sm-9.col-md-7.col-lg-5
					+b.section-title
						h1 ООО &laquo;МЕДИКЭЛ&nbsp;М&raquo;
						p эксклюзивный дистрибьютор аппаратов &laquo;Искусственная почка&raquo; от&nbsp;китайской компании &laquo;SWS Medical&raquo;, ведущего мирового поставщика комплексного медицинского оборудования по&nbsp;очистке крови, на&nbsp;российском рынке

	// end headerBlock