- const version = '0.0.1'
mixin allcss() 
	link(href="libs/swiper/swiper-bundle.min.css" rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css" rel="stylesheet")
	link(href="libs/aos/aos.css" rel="stylesheet")
	//- link(href=`css/main.min.css?v=${version}`, rel="stylesheet")
	link(href=`css/main.min.css`, rel="stylesheet")

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js")
	//- script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
	<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.6.1/dist/simpleParallax.min.js"></script>
	script(src='libs/hc-sticky/hc-sticky.js')
	script(src='libs/aos/aos.js')
	//- script(src=`js/common.js?v=${version}`)
	script(src=`js/common.js`)