mixin catalog-card-row(b, p)
	+e.row
		.row
			+e.col.col-auto
				p
					b!= b
			.col
				p!= p
	// /catalog-card-row

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			.tabs
				.tabs__slider.tabs__slider--js.swiper
					.tabs__caption.swiper-wrapper
						.tabs__btn.swiper-slide.active
							h4 SWS-6000
						.tabs__btn.swiper-slide
							h4 SWS-6000A
						.tabs__btn.swiper-slide
							h4 SWS-4000
				
				.tabs__content.active
					+b.catalog-card
						+e.head
							.row
								+e.col-main.col-lg-auto
									+e.title
										h3 Аппарат для гемодиализа
										h2 SWS-6000
								.col-lg
									.tabs-inner
										.row
											.col-12.col-md.order-md-last
												.tabs-inner__slider.tabs-inner__slider--js.swiper
													.tabs-inner__caption.swiper-wrapper
														.tabs-inner__btn.swiper-slide.active
															span Безопасность лечения гарантирована
														.tabs-inner__btn.swiper-slide
															span Безопасное самотестирование
														.tabs-inner__btn.swiper-slide
															span Экономия затрат
														.tabs-inner__btn.swiper-slide
															span Удобный дизайн управления
														.tabs-inner__btn.swiper-slide
															span Простота обслуживания
														.tabs-inner__btn.swiper-slide
															span Многофункциональность
														.tabs-inner__btn.swiper-slide
															span Индивидуальные профили лечения
														.tabs-inner__btn.swiper-slide
															span Мониторинг объема крови
														.tabs-inner__btn.swiper-slide
															span Мониторинг Kt/V
														.tabs-inner__btn.swiper-slide
															span Мониторинг температуры крови
														.tabs-inner__btn.swiper-slide
															span Держатель бикарбонатного картриджа

											.col-12.col-md
												.tabs-inner__content.active
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti alias molesti
												.tabs-inner__content
													+e.item
														+e.wrap
															p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti alias
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
													

						+e.body
							h2 Технические характеристики
							.row
								.col-lg-6
									+e.tech-item
										h3 Общие данные
										+catalog-card-row(`Размеры (ШХГХВ)`, `465&times;785&times;1515&nbsp;ММ`)
										+catalog-card-row(`Вес`, `87&nbsp;КГ`)
										+catalog-card-row(`Сетевое напряжение`, `100-240&nbsp;В, 50/60&nbsp;ГЦ`)
										+catalog-card-row(`Внешние соединения`, `Обеспечивает резервное питание для работы насоса крови и&nbsp;системы контроля контура крови продолжительностью не&nbsp;менее 40&nbsp;минут`)
										+catalog-card-row(`Возможность проведения процедур`, `RJ45, RS232, USB`)
									+e.tech-item
										h3 Подача концентрата
										+catalog-card-row(`Давление подачи`, `0-100 мБар`)
										+catalog-card-row(`Потребление во время процедуры`, `31,8&nbsp;мл/мин`)
									+e.tech-item
										h3 Экстракорпоральный контур
										+catalog-card-row(`Предел измерения венозного давления`, `-700-800&nbsp;мм рт.&nbsp;ст.`)
										+catalog-card-row(`Точность`, `&plusmn;5&nbsp;мм рт.&nbsp;ст. (-300-500&nbsp;мм рт.&nbsp;ст.) &plusmn;10&nbsp;мм рт.&nbsp;ст. (Другой)`)
										+catalog-card-row(`Предел измерения артериального давления`, `-700-800&nbsp;мм рт.&nbsp;ст.`)
										+catalog-card-row(`Точность`, `&plusmn;5&nbsp;мм рт.&nbsp;ст. (-300-500&nbsp;мм рт.&nbsp;ст.) &plusmn;10&nbsp;мм рт.&nbsp;ст. (Другой)`)
										+catalog-card-row(`Предел измерения трансмембранного давления`, `-700-800&nbsp;мм рт.&nbsp;ст.`)
										+catalog-card-row(`Точность`, `&plusmn;5&nbsp;мм рт.&nbsp;ст. (-300-500&nbsp;мм рт.&nbsp;ст.) &plusmn;10&nbsp;мм рт.&nbsp;ст. (Другой)`)
										+catalog-card-row(`Рабочий диапазон насоса крови`, `0-650&nbsp;мл/мин`)
										+catalog-card-row(`Точность диапазона`, `&plusmn;10&nbsp;мл/мин или&nbsp;&plusmn;10%`)
										+catalog-card-row(`Система одноигольного диализа`, `наличие`)
										+catalog-card-row(`Детектор утечки крови`, `Чувствительность &lt; 0,35&nbsp;мл/мин (Нс1 = 32%)`)
										+catalog-card-row(`Детектор воздуха`, `Ультразвуковой детектор с&nbsp;чувствительностью обнаружения &gt; 0,02&nbsp;мл или &gt; 0,0003&nbsp;мл, непрерывные микропузыри`)
										+catalog-card-row(`Гепариновый насос`, `Размеры шприцев 10&nbsp;мл, 20&nbsp;мл, 30&nbsp;мл, 50&nbsp;мл`)
										+catalog-card-row(`Пределы установки гепаринового насоса`, `0-10&nbsp;мл/час`)
										+catalog-card-row(`Точность`, `&plusmn;5%&nbsp;или &plusmn;0,2&nbsp;мл`)
										+catalog-card-row(`Объем болюса`, `0,1-5&nbsp;мл`)
										
								.col-lg-6
									+e.tech-item
										h3 Подача воды
										+catalog-card-row(`Температура воды на&nbsp;входе`, `5-30&deg;&nbsp;С`)
										+catalog-card-row(`Давление воды на&nbsp;входе`, `0.5-8.0 Бар`)
										+catalog-card-row(`Потребление воды во&nbsp;время процедуры`, `500&nbsp;мл/мин`)
									+e.tech-item
										h3 Система диализата
										+catalog-card-row(`Поток диализата`, `Устанавливамый в&nbsp;диапазоне 100-1000&nbsp;мл/мин`)
										+catalog-card-row(`Температура диализата`, `33-40&deg;&nbsp;С`)
										+catalog-card-row(`Точность`, `&plusmn;0.5&deg;&nbsp;С`)
										+catalog-card-row(`Пределы проводимости диализата`, `12,0-18,0&nbsp;мСм/см`)
										+catalog-card-row(`Точность`, `&plusmn;0.1&nbsp;мСм/см`)
										+catalog-card-row(`Поток субституата`, `30-650&nbsp;мл/мин`)
										+catalog-card-row(`Точность`, `&plusmn;10&nbsp;мл/мин или&nbsp;10%`)
									+e.tech-item
										h3 Ультрафильтрация
										+catalog-card-row(`Пределы скорости ультрафильтрации`, `0-6000&nbsp;мл/ч`)
										+catalog-card-row(`Точность`, `&plusmn;1&nbsp;% или &plusmn;30&nbsp;мл/ч`)
									+e.tech-item
										h3 Автоматическое устройство мониторинга кровяного давления
										+catalog-card-row(`Диапазон отображения`, `0-300&nbsp;мм рт.&nbsp;ст`)
										+catalog-card-row(`Диапазон измерения (взрослый )`, `40-245&nbsp;мм рт.&nbsp;ст`)
									+e.tech-item
										h3 Программы промывки и&nbsp;дезинфекции
										h6 Различные режимы программируемой во&nbsp;времени тепловой и&nbsp;химической дезинфекции с&nbsp;минимальным расходом дезинфицирующего средства
										+catalog-card-row(`Холодная промывка`, `10-30 мин`)
										+catalog-card-row(`Химическая дезинфекция`, `16-70 мин`)
										+catalog-card-row(`Декальцификация`, `16-70&nbsp;мин. После бикарбонатного диализа используйте&nbsp;30% лимонную кислоту для декальцинации`)
										+catalog-card-row(`Горячая промывка`, `21-90 мин`)
										+catalog-card-row(`Горячая дезинфекция`, `26-90 мин`)
										+catalog-card-row(`Промывка + декальцинация`, `22-110 мин`)
									+e.tech-item--link
										.row
											.col-auto
												small Для подбора оптимального расходного материала, для проведения безопасного лечения обращайтесь&nbsp;в
											.col-auto
												+e.link(href="#") 
													span Medical-m
													+icon('box-arrow-right')

				.tabs__content
					+b.catalog-card
						+e.head
							.row
								+e.col-main.col-lg-auto
									+e.title
										h3 Аппарат для гемодиализа
										h2 SWS-6000A
								.col-lg
									.tabs-inner
										.row
											.col-12.col-md.order-md-last
												.tabs-inner__slider.tabs-inner__slider--js.swiper
													.tabs-inner__caption.swiper-wrapper
														.tabs-inner__btn.swiper-slide.active
															span Безопасность лечения гарантирована
														.tabs-inner__btn.swiper-slide
															span Безопасное самотестирование
														.tabs-inner__btn.swiper-slide
															span Экономия затрат
														.tabs-inner__btn.swiper-slide
															span Удобный дизайн управления
														.tabs-inner__btn.swiper-slide
															span Простота обслуживания
														.tabs-inner__btn.swiper-slide
															span Многофункциональность
														.tabs-inner__btn.swiper-slide
															span Индивидуальные профили лечения
														.tabs-inner__btn.swiper-slide
															span Мониторинг объема крови
														.tabs-inner__btn.swiper-slide
															span Мониторинг Kt/V
														.tabs-inner__btn.swiper-slide
															span Мониторинг температуры крови
														.tabs-inner__btn.swiper-slide
															span Держатель бикарбонатного картриджа

											.col-12.col-md
												.tabs-inner__content.active
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti alias molesti
												.tabs-inner__content
													+e.item
														+e.wrap
															p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti alias
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
													
						+e.body
							h2 Технические характеристики
							.row
								.col-lg-6
									+e.tech-item
										h3 Общие данные
										+catalog-card-row(`Размеры (ШХГХВ)`, `465&times;785&times;1515&nbsp;ММ`)
										+catalog-card-row(`Вес`, `87&nbsp;КГ`)
										+catalog-card-row(`Сетевое напряжение`, `100-240&nbsp;В, 50/60&nbsp;ГЦ`)
										+catalog-card-row(`Внешние соединения`, `Обеспечивает резервное питание для работы насоса крови и&nbsp;системы контроля контура крови продолжительностью не&nbsp;менее 40&nbsp;минут`)
										+catalog-card-row(`Возможность проведения процедур`, `RJ45, RS232, USB`)
									+e.tech-item
										h3 Подача концентрата
										+catalog-card-row(`Давление подачи`, `0-100 мБар`)
										+catalog-card-row(`Потребление во время процедуры`, `31,8&nbsp;мл/мин`)
									+e.tech-item
										h3 Экстракорпоральный контур
										+catalog-card-row(`Предел измерения венозного давления`, `-700-800&nbsp;мм рт.&nbsp;ст.`)
										+catalog-card-row(`Точность`, `&plusmn;5&nbsp;мм рт.&nbsp;ст. (-300-500&nbsp;мм рт.&nbsp;ст.) &plusmn;10&nbsp;мм рт.&nbsp;ст. (Другой)`)
										+catalog-card-row(`Предел измерения артериального давления`, `-700-800&nbsp;мм рт.&nbsp;ст.`)
										+catalog-card-row(`Точность`, `&plusmn;5&nbsp;мм рт.&nbsp;ст. (-300-500&nbsp;мм рт.&nbsp;ст.) &plusmn;10&nbsp;мм рт.&nbsp;ст. (Другой)`)
										+catalog-card-row(`Предел измерения трансмембранного давления`, `-700-800&nbsp;мм рт.&nbsp;ст.`)
										+catalog-card-row(`Точность`, `&plusmn;5&nbsp;мм рт.&nbsp;ст. (-300-500&nbsp;мм рт.&nbsp;ст.) &plusmn;10&nbsp;мм рт.&nbsp;ст. (Другой)`)
										+catalog-card-row(`Рабочий диапазон насоса крови`, `0-650&nbsp;мл/мин`)
										+catalog-card-row(`Точность диапазона`, `&plusmn;10&nbsp;мл/мин или&nbsp;&plusmn;10%`)
										+catalog-card-row(`Система одноигольного диализа`, `наличие`)
										+catalog-card-row(`Детектор утечки крови`, `Чувствительность &lt; 0,35&nbsp;мл/мин (Нс1 = 32%)`)
										+catalog-card-row(`Детектор воздуха`, `Ультразвуковой детектор с&nbsp;чувствительностью обнаружения &gt; 0,02&nbsp;мл или &gt; 0,0003&nbsp;мл, непрерывные микропузыри`)
										+catalog-card-row(`Гепариновый насос`, `Размеры шприцев 10&nbsp;мл, 20&nbsp;мл, 30&nbsp;мл, 50&nbsp;мл`)
										+catalog-card-row(`Пределы установки гепаринового насоса`, `0-10&nbsp;мл/час`)
										+catalog-card-row(`Точность`, `&plusmn;5%&nbsp;или &plusmn;0,2&nbsp;мл`)
										+catalog-card-row(`Объем болюса`, `0,1-5&nbsp;мл`)
										
								.col-lg-6
									+e.tech-item
										h3 Подача воды
										+catalog-card-row(`Температура воды на&nbsp;входе`, `5-30&deg;&nbsp;С`)
										+catalog-card-row(`Давление воды на&nbsp;входе`, `0.5-8.0 Бар`)
										+catalog-card-row(`Потребление воды во&nbsp;время процедуры`, `500&nbsp;мл/мин`)
									+e.tech-item
										h3 Система диализата
										+catalog-card-row(`Поток диализата`, `Устанавливамый в&nbsp;диапазоне 100-1000&nbsp;мл/мин`)
										+catalog-card-row(`Температура диализата`, `33-40&deg;&nbsp;С`)
										+catalog-card-row(`Точность`, `&plusmn;0.5&deg;&nbsp;С`)
										+catalog-card-row(`Пределы проводимости диализата`, `12,0-18,0&nbsp;мСм/см`)
										+catalog-card-row(`Точность`, `&plusmn;0.1&nbsp;мСм/см`)
										+catalog-card-row(`Поток субституата`, `30-650&nbsp;мл/мин`)
										+catalog-card-row(`Точность`, `&plusmn;10&nbsp;мл/мин или&nbsp;10%`)
									+e.tech-item
										h3 Ультрафильтрация
										+catalog-card-row(`Пределы скорости ультрафильтрации`, `0-6000&nbsp;мл/ч`)
										+catalog-card-row(`Точность`, `&plusmn;1&nbsp;% или &plusmn;30&nbsp;мл/ч`)
									+e.tech-item
										h3 Автоматическое устройство мониторинга кровяного давления
										+catalog-card-row(`Диапазон отображения`, `0-300&nbsp;мм рт.&nbsp;ст`)
										+catalog-card-row(`Диапазон измерения (взрослый )`, `40-245&nbsp;мм рт.&nbsp;ст`)
									+e.tech-item
										h3 Программы промывки и&nbsp;дезинфекции
										h6 Различные режимы программируемой во&nbsp;времени тепловой и&nbsp;химической дезинфекции с&nbsp;минимальным расходом дезинфицирующего средства
										+catalog-card-row(`Холодная промывка`, `10-30 мин`)
										+catalog-card-row(`Химическая дезинфекция`, `16-70 мин`)
										+catalog-card-row(`Декальцификация`, `16-70&nbsp;мин. После бикарбонатного диализа используйте&nbsp;30% лимонную кислоту для декальцинации`)
										+catalog-card-row(`Горячая промывка`, `21-90 мин`)
										+catalog-card-row(`Горячая дезинфекция`, `26-90 мин`)
										+catalog-card-row(`Промывка + декальцинация`, `22-110 мин`)
									+e.tech-item--link
										.row
											.col-auto
												small Для подбора оптимального расходного материала, для проведения безопасного лечения обращайтесь&nbsp;в
											.col-auto
												+e.link(href="#") 
													span Medical-m
													+icon('box-arrow-right')

				.tabs__content
					+b.catalog-card
						+e.head
							.row
								+e.col-main.col-lg-auto
									+e.title
										h3 Аппарат для гемодиализа
										h2 SWS-4000
								.col-lg
									.tabs-inner
										.row
											.col-12.col-md.order-md-last
												.tabs-inner__slider.tabs-inner__slider--js.swiper
													.tabs-inner__caption.swiper-wrapper
														.tabs-inner__btn.swiper-slide.active
															span Безопасность лечения гарантирована
														.tabs-inner__btn.swiper-slide
															span Безопасное самотестирование
														.tabs-inner__btn.swiper-slide
															span Экономия затрат
														.tabs-inner__btn.swiper-slide
															span Удобный дизайн управления
														.tabs-inner__btn.swiper-slide
															span Простота обслуживания
														.tabs-inner__btn.swiper-slide
															span Многофункциональность
														.tabs-inner__btn.swiper-slide
															span Индивидуальные профили лечения
														.tabs-inner__btn.swiper-slide
															span Мониторинг объема крови
														.tabs-inner__btn.swiper-slide
															span Мониторинг Kt/V
														.tabs-inner__btn.swiper-slide
															span Мониторинг температуры крови
														.tabs-inner__btn.swiper-slide
															span Держатель бикарбонатного картриджа

											.col-12.col-md
												.tabs-inner__content.active
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti alias molesti
												.tabs-inner__content
													+e.item
														+e.wrap
															p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti alias
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
												.tabs-inner__content
													
						+e.body
							h2 Технические характеристики
							.row
								.col-lg-6
									+e.tech-item
										h3 Общие данные
										+catalog-card-row(`Размеры (ШХГХВ)`, `465&times;785&times;1515&nbsp;ММ`)
										+catalog-card-row(`Вес`, `87&nbsp;КГ`)
										+catalog-card-row(`Сетевое напряжение`, `100-240&nbsp;В, 50/60&nbsp;ГЦ`)
										+catalog-card-row(`Внешние соединения`, `Обеспечивает резервное питание для работы насоса крови и&nbsp;системы контроля контура крови продолжительностью не&nbsp;менее 40&nbsp;минут`)
										+catalog-card-row(`Возможность проведения процедур`, `RJ45, RS232, USB`)
									+e.tech-item
										h3 Подача концентрата
										+catalog-card-row(`Давление подачи`, `0-100 мБар`)
										+catalog-card-row(`Потребление во время процедуры`, `31,8&nbsp;мл/мин`)
									+e.tech-item
										h3 Экстракорпоральный контур
										+catalog-card-row(`Предел измерения венозного давления`, `-700-800&nbsp;мм рт.&nbsp;ст.`)
										+catalog-card-row(`Точность`, `&plusmn;5&nbsp;мм рт.&nbsp;ст. (-300-500&nbsp;мм рт.&nbsp;ст.) &plusmn;10&nbsp;мм рт.&nbsp;ст. (Другой)`)
										+catalog-card-row(`Предел измерения артериального давления`, `-700-800&nbsp;мм рт.&nbsp;ст.`)
										+catalog-card-row(`Точность`, `&plusmn;5&nbsp;мм рт.&nbsp;ст. (-300-500&nbsp;мм рт.&nbsp;ст.) &plusmn;10&nbsp;мм рт.&nbsp;ст. (Другой)`)
										+catalog-card-row(`Предел измерения трансмембранного давления`, `-700-800&nbsp;мм рт.&nbsp;ст.`)
										+catalog-card-row(`Точность`, `&plusmn;5&nbsp;мм рт.&nbsp;ст. (-300-500&nbsp;мм рт.&nbsp;ст.) &plusmn;10&nbsp;мм рт.&nbsp;ст. (Другой)`)
										+catalog-card-row(`Рабочий диапазон насоса крови`, `0-650&nbsp;мл/мин`)
										+catalog-card-row(`Точность диапазона`, `&plusmn;10&nbsp;мл/мин или&nbsp;&plusmn;10%`)
										+catalog-card-row(`Система одноигольного диализа`, `наличие`)
										+catalog-card-row(`Детектор утечки крови`, `Чувствительность &lt; 0,35&nbsp;мл/мин (Нс1 = 32%)`)
										+catalog-card-row(`Детектор воздуха`, `Ультразвуковой детектор с&nbsp;чувствительностью обнаружения &gt; 0,02&nbsp;мл или &gt; 0,0003&nbsp;мл, непрерывные микропузыри`)
										+catalog-card-row(`Гепариновый насос`, `Размеры шприцев 10&nbsp;мл, 20&nbsp;мл, 30&nbsp;мл, 50&nbsp;мл`)
										+catalog-card-row(`Пределы установки гепаринового насоса`, `0-10&nbsp;мл/час`)
										+catalog-card-row(`Точность`, `&plusmn;5%&nbsp;или &plusmn;0,2&nbsp;мл`)
										+catalog-card-row(`Объем болюса`, `0,1-5&nbsp;мл`)
										
								.col-lg-6
									+e.tech-item
										h3 Подача воды
										+catalog-card-row(`Температура воды на&nbsp;входе`, `5-30&deg;&nbsp;С`)
										+catalog-card-row(`Давление воды на&nbsp;входе`, `0.5-8.0 Бар`)
										+catalog-card-row(`Потребление воды во&nbsp;время процедуры`, `500&nbsp;мл/мин`)
									+e.tech-item
										h3 Система диализата
										+catalog-card-row(`Поток диализата`, `Устанавливамый в&nbsp;диапазоне 100-1000&nbsp;мл/мин`)
										+catalog-card-row(`Температура диализата`, `33-40&deg;&nbsp;С`)
										+catalog-card-row(`Точность`, `&plusmn;0.5&deg;&nbsp;С`)
										+catalog-card-row(`Пределы проводимости диализата`, `12,0-18,0&nbsp;мСм/см`)
										+catalog-card-row(`Точность`, `&plusmn;0.1&nbsp;мСм/см`)
										+catalog-card-row(`Поток субституата`, `30-650&nbsp;мл/мин`)
										+catalog-card-row(`Точность`, `&plusmn;10&nbsp;мл/мин или&nbsp;10%`)
									+e.tech-item
										h3 Ультрафильтрация
										+catalog-card-row(`Пределы скорости ультрафильтрации`, `0-6000&nbsp;мл/ч`)
										+catalog-card-row(`Точность`, `&plusmn;1&nbsp;% или &plusmn;30&nbsp;мл/ч`)
									+e.tech-item
										h3 Автоматическое устройство мониторинга кровяного давления
										+catalog-card-row(`Диапазон отображения`, `0-300&nbsp;мм рт.&nbsp;ст`)
										+catalog-card-row(`Диапазон измерения (взрослый )`, `40-245&nbsp;мм рт.&nbsp;ст`)
									+e.tech-item
										h3 Программы промывки и&nbsp;дезинфекции
										h6 Различные режимы программируемой во&nbsp;времени тепловой и&nbsp;химической дезинфекции с&nbsp;минимальным расходом дезинфицирующего средства
										+catalog-card-row(`Холодная промывка`, `10-30 мин`)
										+catalog-card-row(`Химическая дезинфекция`, `16-70 мин`)
										+catalog-card-row(`Декальцификация`, `16-70&nbsp;мин. После бикарбонатного диализа используйте&nbsp;30% лимонную кислоту для декальцинации`)
										+catalog-card-row(`Горячая промывка`, `21-90 мин`)
										+catalog-card-row(`Горячая дезинфекция`, `26-90 мин`)
										+catalog-card-row(`Промывка + декальцинация`, `22-110 мин`)
									+e.tech-item--link
										.row
											.col-auto
												small Для подбора оптимального расходного материала, для проведения безопасного лечения обращайтесь&nbsp;в
											.col-auto
												+e.link(href="#") 
													span Medical-m
													+icon('box-arrow-right')


	// end sCatalog