mixin catalog-card-row(b, p)
	+e.row
		.row
			+e.col.col-auto
				p
					b!= b
			.col
				p!= p
	// /catalog-card-row

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			.tabs
				.tabs__slider.tabs__slider--js.swiper
					.tabs__caption.swiper-wrapper
						.tabs__btn.swiper-slide.active
							h4 SWS-6000
						.tabs__btn.swiper-slide
							h4 SWS-6000A
						.tabs__btn.swiper-slide
							h4 SWS-4000
				
				.tabs__content.active
					+b.catalog-card
						+e.head
							.row
								+e.col-main.col-lg-auto
									+e.title
										h3 Аппарат для гемодиализа
										h2 SWS-6000
								.col-lg
									.tabs-inner
										.row
											.col-12.col-md.order-md-last
												.tabs-inner__slider.tabs-inner__slider--js.swiper
													.tabs-inner__caption.swiper-wrapper
														.tabs-inner__btn.swiper-slide.active
															span Безопасность лечения гарантирована
														.tabs-inner__btn.swiper-slide
															span Безопасное самотестирование
														.tabs-inner__btn.swiper-slide
															span Экономия затрат
														.tabs-inner__btn.swiper-slide
															span Удобный дизайн управления
														.tabs-inner__btn.swiper-slide
															span Простота обслуживания
														.tabs-inner__btn.swiper-slide
															span Многофункциональность
														.tabs-inner__btn.swiper-slide
															span Индивидуальные профили лечения
														.tabs-inner__btn.swiper-slide
															span Мониторинг объема крови
														.tabs-inner__btn.swiper-slide
															span Мониторинг Kt/V
														.tabs-inner__btn.swiper-slide
															span Мониторинг температуры крови
														.tabs-inner__btn.swiper-slide
															span Держатель бикарбонатного картриджа

											.col-12.col-md
												.tabs-inner__content.active
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Самоблокирующаяся конструкция передней панели легко открывается и&nbsp;экономит время на&nbsp;техническое обслуживание.
																li &bull; На&nbsp;другой панели установлены ручки и&nbsp;винты, которые могут быть демонтированы без специальных инструментов.
																li &bull; Позиционное расположение электронного модуля &mdash; простота в&nbsp;разборке и&nbsp;обслуживании.
																li &bull; Конструкция дверцы с&nbsp;магнитным доводчиком облегчает замену сдвоенных фильтров для эндотоксинов.
												.tabs-inner__content
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Самоблокирующаяся конструкция передней панели легко открывается и&nbsp;экономит время на&nbsp;техническое обслуживание.
																li &bull; На&nbsp;другой панели установлены ручки и&nbsp;винты, которые могут быть демонтированы без специальных инструментов.
																li &bull; Позиционное расположение электронного модуля &mdash; простота в&nbsp;разборке и&nbsp;обслуживании.
																li &bull; Конструкция дверцы с&nbsp;магнитным доводчиком облегчает замену сдвоенных фильтров для эндотоксинов.
												.tabs-inner__content
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Самоблокирующаяся конструкция передней панели легко открывается и&nbsp;экономит время на&nbsp;техническое обслуживание.
																li &bull; На&nbsp;другой панели установлены ручки и&nbsp;винты, которые могут быть демонтированы без специальных инструментов.
																li &bull; Позиционное расположение электронного модуля &mdash; простота в&nbsp;разборке и&nbsp;обслуживании.
																li &bull; Конструкция дверцы с&nbsp;магнитным доводчиком облегчает замену сдвоенных фильтров для эндотоксинов.
												.tabs-inner__content
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
				.tabs__content
					+b.catalog-card
						+e.head
							.row
								+e.col-main.col-lg-auto
									+e.title
										h3 Аппарат для гемодиализа
										h2 SWS-6000A
								.col-lg
									.tabs-inner
										.row
											.col-12.col-md.order-md-last
												.tabs-inner__slider.tabs-inner__slider--js.swiper
													.tabs-inner__caption.swiper-wrapper
														.tabs-inner__btn.swiper-slide.active
															span Безопасность лечения гарантирована
														.tabs-inner__btn.swiper-slide
															span Безопасное самотестирование
														.tabs-inner__btn.swiper-slide
															span Экономия затрат
														.tabs-inner__btn.swiper-slide
															span Удобный дизайн управления
														.tabs-inner__btn.swiper-slide
															span Простота обслуживания
														.tabs-inner__btn.swiper-slide
															span Многофункциональность
														.tabs-inner__btn.swiper-slide
															span Индивидуальные профили лечения
														.tabs-inner__btn.swiper-slide
															span Мониторинг объема крови
														.tabs-inner__btn.swiper-slide
															span Мониторинг Kt/V
														.tabs-inner__btn.swiper-slide
															span Мониторинг температуры крови
														.tabs-inner__btn.swiper-slide
															span Держатель бикарбонатного картриджа

											.col-12.col-md
												.tabs-inner__content.active
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Самоблокирующаяся конструкция передней панели легко открывается и&nbsp;экономит время на&nbsp;техническое обслуживание.
																li &bull; На&nbsp;другой панели установлены ручки и&nbsp;винты, которые могут быть демонтированы без специальных инструментов.
																li &bull; Позиционное расположение электронного модуля &mdash; простота в&nbsp;разборке и&nbsp;обслуживании.
																li &bull; Конструкция дверцы с&nbsp;магнитным доводчиком облегчает замену сдвоенных фильтров для эндотоксинов.
												.tabs-inner__content
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Самоблокирующаяся конструкция передней панели легко открывается и&nbsp;экономит время на&nbsp;техническое обслуживание.
																li &bull; На&nbsp;другой панели установлены ручки и&nbsp;винты, которые могут быть демонтированы без специальных инструментов.
																li &bull; Позиционное расположение электронного модуля &mdash; простота в&nbsp;разборке и&nbsp;обслуживании.
																li &bull; Конструкция дверцы с&nbsp;магнитным доводчиком облегчает замену сдвоенных фильтров для эндотоксинов.
												.tabs-inner__content
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Самоблокирующаяся конструкция передней панели легко открывается и&nbsp;экономит время на&nbsp;техническое обслуживание.
																li &bull; На&nbsp;другой панели установлены ручки и&nbsp;винты, которые могут быть демонтированы без специальных инструментов.
																li &bull; Позиционное расположение электронного модуля &mdash; простота в&nbsp;разборке и&nbsp;обслуживании.
																li &bull; Конструкция дверцы с&nbsp;магнитным доводчиком облегчает замену сдвоенных фильтров для эндотоксинов.
												.tabs-inner__content
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
				.tabs__content
					+b.catalog-card
						+e.head
							.row
								+e.col-main.col-lg-auto
									+e.title
										h3 Аппарат для гемодиализа
										h2 SWS-4000
								.col-lg
									.tabs-inner
										.row
											.col-12.col-md.order-md-last
												.tabs-inner__slider.tabs-inner__slider--js.swiper
													.tabs-inner__caption.swiper-wrapper
														.tabs-inner__btn.swiper-slide.active
															span Безопасность лечения гарантирована
														.tabs-inner__btn.swiper-slide
															span Безопасное самотестирование
														.tabs-inner__btn.swiper-slide
															span Экономия затрат
														.tabs-inner__btn.swiper-slide
															span Удобный дизайн управления
														.tabs-inner__btn.swiper-slide
															span Простота обслуживания
														.tabs-inner__btn.swiper-slide
															span Многофункциональность
														.tabs-inner__btn.swiper-slide
															span Индивидуальные профили лечения
														.tabs-inner__btn.swiper-slide
															span Мониторинг объема крови
														.tabs-inner__btn.swiper-slide
															span Мониторинг Kt/V
														.tabs-inner__btn.swiper-slide
															span Мониторинг температуры крови
														.tabs-inner__btn.swiper-slide
															span Держатель бикарбонатного картриджа

											.col-12.col-md
												.tabs-inner__content.active
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Самоблокирующаяся конструкция передней панели легко открывается и&nbsp;экономит время на&nbsp;техническое обслуживание.
																li &bull; На&nbsp;другой панели установлены ручки и&nbsp;винты, которые могут быть демонтированы без специальных инструментов.
																li &bull; Позиционное расположение электронного модуля &mdash; простота в&nbsp;разборке и&nbsp;обслуживании.
																li &bull; Конструкция дверцы с&nbsp;магнитным доводчиком облегчает замену сдвоенных фильтров для эндотоксинов.
												.tabs-inner__content
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Самоблокирующаяся конструкция передней панели легко открывается и&nbsp;экономит время на&nbsp;техническое обслуживание.
																li &bull; На&nbsp;другой панели установлены ручки и&nbsp;винты, которые могут быть демонтированы без специальных инструментов.
																li &bull; Позиционное расположение электронного модуля &mdash; простота в&nbsp;разборке и&nbsp;обслуживании.
																li &bull; Конструкция дверцы с&nbsp;магнитным доводчиком облегчает замену сдвоенных фильтров для эндотоксинов.
												.tabs-inner__content
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Самоблокирующаяся конструкция передней панели легко открывается и&nbsp;экономит время на&nbsp;техническое обслуживание.
																li &bull; На&nbsp;другой панели установлены ручки и&nbsp;винты, которые могут быть демонтированы без специальных инструментов.
																li &bull; Позиционное расположение электронного модуля &mdash; простота в&nbsp;разборке и&nbsp;обслуживании.
																li &bull; Конструкция дверцы с&nbsp;магнитным доводчиком облегчает замену сдвоенных фильтров для эндотоксинов.
												.tabs-inner__content
													+e.item
														+e.wrap
															+img('img/catalog-card-1.png', 'bg')
												.tabs-inner__content
													+e.item
														+e.wrap
															ul
																li &bull; Интегрированная конструкция из&nbsp;детектора воздуха, венозного зажима и&nbsp;устройства обнаружения крови с&nbsp;использованием ультразвукового и&nbsp;оптического датчиков, которые контролируют микропузырь и&nbsp;определяют кровь.
																li &bull; Неинвазивный мониторинг ЧСС в&nbsp;режиме онлайн. Отслеживание частоты сердечных сокращений и&nbsp;изменений артериального давления пациентов, обмен данными с&nbsp;аппаратом в&nbsp;режиме реального времени и&nbsp;обеспечение безопасности процесса лечения.
																li &bull; Усовершенствованная система контроля объема баланса обеспечивает точность ультрафильтрации.
																li &bull; Система контроля смешивания диализата обеспечивает точность концентрации диализирующего раствора.
													




	// end sCatalog