// start .sCatalog
.sCatalog {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	position: relative;
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
	}
	// &__col {
	// }

	.floating-imgs {
		img {
			&:first-child {
				width: 554px;
				height: 712px;
				left: -0.3% !important;
				top: 146.375px !important;
			}
			&:nth-child(2) {
				width: 838px;
				height: 704px;
				left: -0.3% !important;
				top: 105.016px !important;
			}
			&:nth-child(3) {
				width: 500px;
				height: 587px;
				left: -0.5% !important;
				top: 197.297px !important;
			}
			&:nth-child(4) {
				width: 114px;
				height: 136px;
				right: 6% !important;
				top: 111.375px !important;
				left: auto !important;
			}
			&:nth-child(5) {
				width: 298px;
				height: 216px;
				left: 38.2% !important;
				top: 820.141px !important;
			}
		}
	}

	// &__slide {
	// 	height: auto;
	// }

	.tabs {
		&__slider-wrapper {
			margin-bottom: calc(var(--sTPB) * 1.28);
			@include media-breakpoint-up(sm) {
				display: flex;
				justify-content: flex-end;
			}
		}
		&__slider {
			overflow: visible;
			z-index: 1000;
			@include media-breakpoint-up(sm) {
				margin: 0;
				margin-right: 65px;
			}
			@include media-breakpoint-up(md) {
				margin-right: 85px;
			}
			@include media-breakpoint-up(xl) {
				margin-right: 180px;
			}
			@include media-breakpoint-up(xxl) {
				margin-right: 268px;
			}
		}
		&__caption {
			@include roww(20px, m);
			// display: inline-flex;
			// flex-wrap: wrap;
			@include media-breakpoint-up(sm) {
				transform: none !important;
			}
		}
		&__btn {
			@include mt;
			position: relative;
			color: $primary;
			margin-bottom: 6px;
			width: auto;
			height: auto;
			
			&.active {
				color: $red;
			}
			&::before {
				content: "";
				position: absolute;
				width: 6px;
				height: 6px;
				left: 0;
				bottom: 0.5px;
				border-radius: 50%;
				background-color: currentColor;
				transform: translateY(50%);
			}
			&::after {
				content: "";
				position: absolute;
				width: 6px;
				height: 6px;
				right: 3px;
				bottom: 0.5px;
				border-radius: 50%;
				background-color: currentColor;
				transform: translateY(50%);
			}
			h4 {
				margin-bottom: 0;
				font-weight: 300;
				padding: 0 12px 6px;
				color: inherit;
				text-align: center;
				font-size: 14px;
				@include media-breakpoint-up(md) {
					font-size: 17px;
				}
				@include media-breakpoint-up(xxl) {
					min-width: 128px;
					font-size: $h4-font-size;
				}
				&::after {
					content: "";
					width: 12px;
					height: 12px;
					position: absolute;
					right: 0;
					bottom: 0.5px;
					border-radius: 50%;
					background-color: transparent;
					transform: translateY(50%);
					border: 1px solid currentColor;
				}
				&::before {
					content: "";
					position: absolute;
					width: calc(100% - 6px);
					height: 1px;
					left: 3px;
					bottom: 0;
					background-color: currentColor;
					z-index: -1;
				}
			}
		}
		&__content {
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCatalog

.catalog-card {
	--paddingSize: #{rem(10)};
	&__head {
		padding-bottom: var(--sTPB);
		& > .row {
			--bs-gutter-x: #{rem(30)};
			@include media-breakpoint-up(xl) {
				--bs-gutter-x: #{rem(50)};
			}
		}
	}
	&__title {
		margin-bottom: var(--sTPB);
		@include media-breakpoint-up(lg) {
			text-align: right;
		}
		h3 {
			margin-bottom: rem(13);
		}
	}
	&__body {
		padding-top: var(--sTPB);
		h2 {
			margin-bottom: var(--sTPB);
		}
		& > .row {
			--bs-gutter-y: var(--sTPB);
		}
	}
	&__col {
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: 41.067%;
		}
	}
	&__col-main {
		@include media-breakpoint-up(lg) {
			width: 25%;
		}
		@include media-breakpoint-up(xl) {
			width: 31%;
		}
	}
	&__item {
		position: relative;
		border: 1px solid #99ccff;
		border-radius: $border-radius;
		margin: 0 calc(var(--paddingSize) * 2) calc(var(--paddingSize) * 2) 0;
		background-color: $white;
		max-width: rem(430);
		height: calc(100% - var(--paddingSize) * 2);
		// z-index: 3;
		min-height: rem(380);
		@include media-breakpoint-up(md) {
			max-width: rem(390);
			min-height: rem(440);
		}
		@include media-breakpoint-up(xl) {
			min-height: rem(490);
		}
		@include media-breakpoint-up(xxl) {
			min-height: rem(590);
		}

		&::before,
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			border: 1px solid #99ccff;
			border-radius: $border-radius;
			background-color: #edf3fa;
			z-index: -1;
		}
		&::before {
			left: calc(var(--paddingSize) * 2);
			top: calc(var(--paddingSize) * 2);
		}
		&::after {
			left: var(--paddingSize);
			top: var(--paddingSize);
		}
	}
	&__wrap {
		overflow: hidden;
		font-weight: 300;
		font-size: 14px;
		padding: calc(var(--paddingSize) * 3) var(--paddingSize) var(--paddingSize) calc(var(--paddingSize) * 3);
		background-color: $white;
		border-radius: $border-radius;
		width: 100%;
		height: 100%;
		&--img {
			@include block(390, 590);
			// height: auto;
			img {
				position: absolute;
				left: calc(var(--paddingSize) * 2);
				top: calc(var(--paddingSize) * 2);
				width: calc(100% - (var(--paddingSize) * 3));
				height: calc(100% - (var(--paddingSize) * 3));
			}
		}
	}
	&__tech-item {
		margin-bottom: var(--sTPB);
		@include media-breakpoint-down(md) {
			font-size: rem(15);
		}
		@include media-breakpoint-only(lg) {
			font-size: rem(14);
		}
		&:last-child {
			margin-bottom: 0;
		}
		h3 {
			line-height: 1.4;
			margin-bottom: rem(9);
		}
		h6 {
			font-weight: bold;
			color: $body-color;
			line-height: 1.4;
			margin-bottom: rem(9);
		}
		p {
			margin-bottom: 0;

			b {
				display: block;
			}
		}
		&--link {
			margin-left: rem(15);
			// @include media-breakpoint-only(lg) {
			// 	margin-left: 0;
			// }
			@include media-breakpoint-up(xl) {
				margin-left: rem(30);
			}
			.row {
				align-items: center;
				--bs-gutter-y: caLc(var(--bs-gutter-x) / 2);
				@include media-breakpoint-up(xl) {
					--bs-gutter-x: #{rem(30)};
				}
			}
			small {
				display: block;
				max-width: 25em;
				font-weight: 300;
			}
		}
		.catalog-card__row {
			padding: rem(15) rem(30) rem(15) rem(15);
			position: relative;
			margin-bottom: rem(9);
			line-height: 1.38;
			@include media-breakpoint-up(xl) {
				padding: rem(20) rem(40) rem(20) rem(20);
			}
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-image: linear-gradient(270deg, #ffffff 0%, #f4f7fb 21.87%, #fbfdff 55.21%, #fafcff 92.71%);
				background-size: 100%;
				background-position: top right;
				z-index: -1;
			}
			.row {
				align-items: center;
				--bs-gutter-y: caLc(var(--bs-gutter-x) / 2);
				--bs-gutter-x: #{rem(15)};
				@include media-breakpoint-up(xl) {
					--bs-gutter-x: #{rem(15)};
				}
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		padding: 3px;
		font-size: rem(15);
		line-height: 1.2;
		&:not(:hover) {
			color: #d83a41;
			text-decoration: underline;
		}
		span {
			display: block;
			font-size: inherit;
		}
		.icon {
			font-size: rem(20);
			margin-left: rem(20);
		}
	}

	.tabs-inner {
		.row {
			--bs-gutter-y: calc(var(--sTPB) * 0.7);
			--bs-gutter-x: #{rem(30)};
		}
		&__slider {
			overflow: visible;
		}
		&__caption {
			@include media-breakpoint-up(md) {
				display: block;
				transform: none !important;
			}
			@include media-breakpoint-down(md) {
				@include roww(10px, m);
			}
		}
		&__content {
			height: 100%;
			&:not(.active) {
				display: none;
			}
			ul {
				list-style: none;
				li {
					margin-bottom: 1rem;
					img {
						max-width: 100%;
						height: auto;
						margin-bottom: 1rem;
						border: 1px solid #99ccff;
						border-radius: 9px;
						&.float {
							width: 31.6%;
							float: left;
							margin-right: 1.1rem;
						}
					}
				}
			}
		}
		&__btn {
			@include mt;
			font-weight: 700;
			color: #a59f9f;
			position: relative;
			@include media-breakpoint-up(md) {
				margin-bottom: rem(17);
			}
			// @include media-breakpoint-up(lg) {
			// 	margin-bottom: rem(15);
			// }
			@include media-breakpoint-up(xl) {
				margin-bottom: rem(21);
			}
			@include media-breakpoint-up(xxl) {
				margin-bottom: rem(30);
			}
			@include media-breakpoint-down(md) {
				width: auto;
				padding: calc(var(--bs-gutter-x) / 2);
				border: 1px solid currentColor;
			}
			&:hover {
				cursor: pointer;
			}
			&::before {
				// @include mt(0.15s);
				content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='95' height='68' viewBox='0 0 95 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.7271 67.8062C22.0956 69.1367 29.9162 63.3961 31.1679 54.9972C31.5129 52.5128 31.199 50.0757 30.4487 47.9115L62.767 36.0904C63.4944 37.7017 65.0546 38.8328 66.9229 39.1636C69.6468 39.5671 72.3706 37.9045 73.0322 35.3437L83.2547 37.176C82.9867 39.9769 85.0377 42.6647 87.8272 43.1082C90.8278 43.5007 93.7113 41.5762 94.0734 38.4735C94.5666 35.4508 92.5158 32.7629 89.5551 32.3049C89.1729 32.3413 88.9362 32.2867 88.7251 32.3377L86.6846 11.3318C88.821 10.9278 90.6634 9.08712 91.1653 6.78822C91.553 3.79095 89.4765 0.997608 86.4901 0.434101C83.4896 0.0415549 80.6973 2.11154 80.244 5.0688C79.6851 8.05154 81.8272 10.8849 84.8535 11.3829C85.1701 11.3065 85.4068 11.361 85.7491 11.3901L87.7639 32.2905C85.7987 32.709 84.1559 34.2223 83.4972 36.3357L73.2888 34.3325C73.4512 31.5572 71.5715 28.8838 68.6764 28.4658C65.6502 27.9678 62.7923 29.9978 62.4046 32.995C62.2677 33.8098 62.3419 34.5737 62.5216 35.3121L30.2433 47.0677C28.2322 42.2483 23.8966 38.4367 18.3433 37.6552C9.93477 36.3903 2.11421 42.1308 0.902447 50.4643C-0.480466 58.7832 5.31858 66.5412 13.7271 67.8062ZM18.1009 38.4955C23.3377 39.3534 27.4251 42.834 29.3592 47.3369L21.0022 50.415C20.2491 48.6983 18.6632 47.4617 16.8606 47.1708C13.8343 46.6728 11.0022 48.8083 10.5089 51.831C10.0555 54.7883 12.2376 57.5561 15.1184 58.1451C18.119 58.5377 20.9113 56.4677 21.4702 53.485C21.607 52.6702 21.4929 51.9718 21.4187 51.2079L29.6958 48.2608C30.3548 50.2795 30.5517 52.4656 30.2466 54.8845C29.1175 62.6396 21.8132 67.9764 13.9438 66.8605C6.11427 65.6791 0.549176 58.423 1.75812 50.5369C2.96706 42.6509 10.2714 37.3141 18.1009 38.4955Z' fill='%2399CCFF'/%3e%3c/svg%3e ");
				position: absolute;
				top: 0;
				width: 96px;
				height: 68px;
				right: 101%;
				opacity: 0;
				pointer-events: none;
			}
			&.active {
				color: #4093cf;
				&::before {
					@include media-breakpoint-up(md) {
						opacity: 0.9;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			span {
				display: block;
			}
		}
	}
}
