.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	@include mt;
	position: fixed;
	width: 100%;
	z-index: 1000;
	&.fixed {
		background-color: rgba(212, 234, 255, 0.73);
		backdrop-filter: blur(5px);
	}
	@include media-breakpoint-up(xxl) {
		display: flex;
		align-items: center;
		min-height: rem(100);
		&.fixed {
			min-height: rem(70);
			.top-nav__logo {
				max-width: rem(120);
			}
		}
	}
	&__row {
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(30)};
		}
		// --bs-gutter-y: var(--bs-gutter-x);
		align-items: center;
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}

	&__logo {
		display: inline-block;
		max-width: rem(100);
		@include media-breakpoint-up(lg) {
			max-width: rem(110);
		}
		@include media-breakpoint-up(xl) {
			max-width: rem(120);
		}
		@include media-breakpoint-up(xxl) {
			max-width: rem(140);
		}
		@include media-breakpoint-up(xxl) {
			margin: 0 rem(23);
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.nav-contact {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@include media-breakpoint-down(xl) {
			align-items: stretch;
			& > * {
				padding: rem(15);
				font-size: rem(18);
			}
		}
		&__tel {
			&:not(:hover) {
				color: #63a9ff;
			}
			@include media-breakpoint-up(xl) {
				font-size: rem(14);
				line-height: calc(16 / 14);
				padding-bottom: rem(5);
			}
		}
		&__schedule {
			color: #63a9ff;
			@include media-breakpoint-up(xl) {
				font-size: rem(12);
				line-height: calc(15 / 12);
			}
		}
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}


