mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto
					+e.logo(href="/")
						+img('img/svg/logo.svg')
				.col
					.menu-mobile.menu-mobile--js
						.floating-imgs.d-xl-none
							+img('img/svg/sServices-bg-1.svg')
							+img('img/svg/sServices-bg-2.svg')
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
							+b.nav-contact.d-xl-none
								+e.tel(href="tel:+74952592406") +7 (495) 259-24-06
								+e.schedule пн-пт: с&nbsp;09:00 до&nbsp;18:00
				.col-auto.d-none.d-xl-block
					+b.nav-contact
						+e.tel(href="tel:+74952592406") +7 (495) 259-24-06
						+e.schedule пн-пт: с&nbsp;09:00 до&nbsp;18:00
					
				.col-auto.d-xl-none
					+menu-toggle()
	// end top-nav